img{
    padding-top: 5px;
    margin-right: 10px;
    margin-left: 10px;
}

.tabs{
    height: 64px !important;
    background-color: rgb(99, 153, 197) !important;
}

.tabs .tab a{
    color: white !important;
    height: 133% !important;
    padding: 10px 24px !important;
    font-size: 13px !important;
}

.tabs .tab a:hover, .tabs .tab a.active {
    color: rgb(16, 51, 107) !important;
}

.tabs .indicator{
    background-color: rgb(16, 51, 107) !important;
}

.row .col.s4, .row .col.s8 {
    margin-top: 45px;
}

.grey{
    border-radius: 10px;
    box-shadow: 3px 3px 3px grey;
}

.is-flex  {
    display: flex;
}

.is-flex-wrap {
    flex-wrap: wrap;
}

.is-justify-between {
    justify-content: space-between;
}

.is-items-center {
    align-items: center;
}

.is-gap-4 {
    gap: 1rem
}

.is-p-0 {
    padding: 0 !important;
}

.row {
    padding-top: 40px;
}

.space {
    margin-bottom: 40px;
}

.section-padding {
  padding: 50px ;
  
}

.card-padding{
  padding: 30px ;
  padding-bottom: 110px;
}

.input-padding{
  padding: 5px;
}

.table-padding {
  height: 20px;
  padding: 10px;
}

.imagen-responsive {
    width: 100%;
    max-width: 300px;
}